<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Sign-Up</h1>
    <form action="/user" method="post">
        <label>Full Name => </label>
        <input type="text" 
        placeholder="Enter Name"
        name="name"
        required
        />

        <label> Email => </label>
        <input type="text" 
        placeholder="Enter Email"
        name="email"
        required
        />

        <label>Password => </label>
        <input type="text" 
        placeholder="Password"
        name="password"
        required
        />

        <input type="submit" value="submit">
    </form>
</body>
</html>